.navbar-bg {
  background-color: #563d7c;
}

.container {
  background-color: white;
}

.background {
  background-color: #f8f9fa !important;
}

.segment .card-text {
  font-size: small;
}

.segment .card-img {
  margin-left: 15px;
  margin-top: 17px;
}

.card-body {
  background-color: #f8f9fa;
}

h1 {
  color: #7952b3;
  font-weight: bold;
}

.btn-outline-secondary {
  padding: 10px 40px 10px 40px !important;
}

.btn-outline-dark {
  border-color: #7952b3 !important;
  color: #7952b3 !important;
  padding: 10px 40px 10px 40px !important;
  margin-right: 12px;
}

.nav-link-ver {
  color: #cbbde2 !important;
}

.card-ico {
  margin-left: 30px;
  margin-top: 45px;
}

.col-img {
  margin-left: 1rem !important;
}

footer {
  margin-left: 15% !important;
  color: #495057 !important;
}

.bltxt {
  color: #2f6f9f;
}
.sbltxt {
  color: #4f9fcf;
}
.rdtxt {
  color: #d44950;
}
